@charset "UTF-8";
@import "~bulma/sass/utilities/initial-variables";

$footer-padding : 3rem 1.5rem 1rem;
@import "~bulma";
@import "~bulma-checkradio/checkradio.sass";
//@import "~bulma-badge/badge.sass";
@import 'datepicker';

body, html {
  height : 100%;
}

.hero-body {
  padding : 1rem 1.5rem;
}

#app {
  display        : flex;
  flex-direction : column;
  min-height         : 100%;
}

.is-flex-1 {
  flex : 1;
}

.footer {
  padding : 3rem 1.5rem 1rem;
}

.mt-1{
  margin-top: 1em;
}