@charset "UTF-8";
@import "~bulma/sass/utilities/initial-variables";

$footer-padding : 3rem 1.5rem 1rem;
@import "~bulma";
@import "~bulma-checkradio/checkradio.sass";
@import 'datepicker';
@import "~font-awesome/scss/font-awesome.scss";

@import "table-col";

body, html {
  height : 100%;
}

.hero-body {
  padding : 1rem 1.5rem;
}

#app {
  display        : flex;
  flex-direction : column;
  min-height         : 100%;
}

.is-flex-1 {
  flex : 1;
}

.footer {
  padding : 3rem 1.5rem 1rem;
}

.mt-1{
  margin-top: 1em;
}

.fade-enter-active, .fade-leave-active {
  transition : opacity .4s
}

.fade-enter, .fade-leave-to
{
  opacity : 0
}

.crud th span {
  cursor : ns-resize;
}

[v-cloak] .v-cloak-block {
  display : block;
}
[v-cloak] .v-cloak-inline {
  display : inline;
}
[v-cloak] .v-cloak-inlineBlock {
  display : inline-block;
}
[v-cloak] .v-cloak-hidden {
  display : none;
}
[v-cloak] .v-cloak-invisible {
  visibility : hidden;
}
.v-cloack-block, .v-cloal-inline, .v-cloak-inlineBlock {
  display: none;
}